* {
  box-sizing: border-box;
}

.garment-preview_container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px;
  margin: 30px;
  margin-top: 20px;
}

.garment.preview {
  display: flex;
}

.garment-preview_name {
  color: black;
  align-self: center;
  margin: auto;
  margin-bottom: 5px;
}

.garment-preview_photo {
  width: 300px;
  border-radius: 20px;
}

.garment-preview_photo:hover,
.garment-preview_photo:focus {
  opacity: 0.7;
}
