.garment-preview_container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px;
  margin: 30px;
  margin-top: 50px;
}

.garment.preview {
  display: flex;
}

.garment-preview_name {
  color: black;
  align-self: center;
  margin: auto;
  margin-bottom: 5px;
}

.garment-preview_photo {
  width: 250px;
  max-width: 300px;
  border-radius: 25px;
}

.garment-preview_photo:hover {
  filter: blur(1.5px);
}

@media (min-width: 375px) {
  .garment-preview_photo {
    width: 300px;
  }
}

@media (min-width: 600px) {
  .garment-preview_photo {
    width: 350px;
  }
}
