* {
  box-sizing: border-box;
}

.sorting {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.icon {
  display: none;
}

.sorting-tag {
  display: flex;
  justify-content: center;

  cursor: pointer;
  width: 33%;
}

.sorting-tag_name {
  margin: 5px;
  font-size: 0.7rem;
}

.sorting :hover {
  font-weight: lighter;
}

@media (min-width: 630px) {
  .sorting {
    width: auto;
    max-width: 700px;
    flex-direction: row;
  }
  .sorting-tag {
    margin: 4px 5px;
  }
  .sorting-tag_name {
    display: none;
  }
  .icon {
    display: block;
    width: 40px;
  }
}

@media (min-width: 880px) {
  .sorting {
    flex-direction: row;
    gap: 4px;
  }
  .sorting-tag {
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  }
  .icon {
    margin: 4px 15px;
  }
}

@media (min-width: 1100px) {
  .sorting {
    flex-direction: row;
    width: 600px;
  }

  .sorting-tag_name {
    display: inline;
    font-size: 0.7rem;
  }
  .icon {
    margin: 4px 7px;
  }
}
