* {
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  margin: 220px 20px 50px 50px;
  gap: 10px;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
  font-size: 16px;
}

select,
input {
  width: 100%;
  max-width: 100;
}

textarea {
  width: 100%;
  max-width: 100%;
}

button {
  width: 60%;
}
