.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 6%;
}

.logo {
  display: flex;
  font-size: 0.75rem;
  width: 60%;
  gap: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a :hover {
  font-weight: lighter;
}

.welcome {
  text-align: center;
  margin: 0 10% 0 10%;
  font-size: small;
}

@media (min-width: 800px) {
  .sorting-nav {
    max-width: 650px;
  }
}
