* {
  box-sizing: border-box;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 6%;
}

.logo {
  display: flex;
  font-size: 0.5rem;
  width: 60%;
  gap: 10px;
  margin-left: 40%;
}

a {
  text-decoration: none;
  color: black;
}

a :hover {
  font-weight: lighter;
}

.menu-bar {
  width: 60px;
  cursor: pointer;
}

.nav-personal {
  display: flex;
  flex-direction: column;
}

.about_title,
.new-project_title {
  margin-top: 1px;
  margin-bottom: 2px;
}

.about_title:hover,
.about_title:focus,
.new-project_title:hover,
.new-project_titlet:focus {
  font-weight: lighter;
}

.about_page,
.new-project_page {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: 0.7rem;
  cursor: pointer;
}
.about_page {
  margin: 4px;
}
.new-project_page {
  margin: 2px;
}
.about_icon,
.new-project_icon {
  display: none;
}
.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.navigation-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 10px;
  right: 65px;
}

.menu-bar {
  position: absolute;
  top: 40px;
  right: 40px;
}

.navigation-bar.hidden {
  display: none;
}

@media (min-width: 630px) {
  .navigation {
    flex-direction: row;
  }
  .sorting-nav {
    max-width: 500px;
  }
  .navigation-bar {
    flex-direction: row;
    position: absolute;
    margin-top: 40px;
    gap: 15px;
  }

  .nav-personal {
    flex-direction: row;
    align-items: baseline;
  }

  .about_icon,
  .new-project_icon {
    width: 40px;
    display: block;
    margin: 4px 4px;
  }
  .new-project_icon {
    width: 30px;
  }

  .about_title,
  .new-project_title {
    display: none;
  }
  .menu-bar {
    display: none;
  }
  .navigation-bar.hidden {
    display: flex;
  }
}

@media (min-width: 880px) {
  .navigation {
    flex-direction: row;
  }
  .navigation-bar {
    flex-direction: row;
    border-style: none;
    border: none;
    box-shadow: none;
    gap: 50px;
  }
  .nav-personal {
    gap: 15px;
  }
}

@media (min-width: 1200px) {
  .navigation {
    flex-direction: row;
  }

  .navigation-bar {
    flex-direction: row;
    border-style: none;
    border: none;
    box-shadow: none;
    gap: 80px;
  }

  .about_title,
  .new-project_title {
    display: inline;
    justify-content: center;
  }
  .nav-personal {
    gap: 15px;
  }
}
